script(
  type="text/javascript",
  src="/vendor/requirejs/require.js",
  data-main='/app/main.js')
//script(
//  type="text/javascript",
//  src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.js",
//  data-main='/app/main.js')