.navbar-right
  form.navbar-form(ng-hide="identityService.isAuthenticated()")
    .form-group
      input.form-control(placeholder='Email', ng-model='username')
    .form-group
      input.form-control(placeholder='password', ng-model='password')
    button.btn.btn-primary(ng-click='login(username, password)') Login
//    button.btn.btn-primary(ng-click='loginFacebook()') Login Facebook